<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- <RollingFile name="MyFile" fileName="/var/log/clouder/clouder.log" -->
		<!-- filePattern="logs/%d{dd-MMM-yyyy}/clouder.log"> -->
		<!-- <PatternLayout> -->
		<!-- <pattern>%d{dd/MMM/yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - -->
		<!-- %msg%n</pattern> -->
		<!-- </PatternLayout> -->
		<!-- <Policies> -->
		<!-- <TimeBasedTriggeringPolicy interval="1" -->
		<!-- modulate="true" /> -->
		<!-- <SizeBasedTriggeringPolicy size="100 KB" /> -->
		<!-- </Policies> -->
		<!-- </RollingFile> -->

		<RollingFile name="MyFile" fileName="logs/clouder.log"
			filePattern="logs/%d{dd-MMM-yyyy}/clouder.log">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} -
					%msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 KB" />
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>